@import url('https://fonts.googleapis.com/css2 family=Montserr at+Alternates:wght @300;400;500;600&display =swap');

*{
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.game {
  width: 500px;
  height: 200px;
  border: 2px solid #000;
  overflow: hidden;
}
.character {
  width: 60px;
  height: 80px;
  background-image: url("0image.png");
  background-size: cover;
  position: relative;
  top: 125px;
  left: 20px
  z-index; 2;
}

.score {
  font-size: 26px;
  
}

.obstacles {
  width: 30px;
  height: 70px;

  background-color: #41C5FB ;
  position: relative;
  top: 50px;
  left: 470px;
}
button {
  background-color: #FF30EF;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
  padding: 8px 20px;
  outline: none;
  margin: 10px;
  font-weight: 600;
}
@keyframes move {
  0% {
    left: 500px;
  }
  100% {
    left: -20px;
  }
}
.move {
  animation: move 1s infinite linear;
}
@keyframes jump {
  0% {
    top: 125px;
  }
  30% {
    top: 60px;
  }
  50% {
    top: 30px;
  }
  70% {
    top: 60px;
  }
  100% {
    top: 125px;
  }
}
.jump {
  animation: jump 0.8s linear;
}